
body {
    background-color: #121212;
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
}
header, .token-card {
    margin: 20px;
}
header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.collapsible {
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 20px;
    cursor: pointer;
}
.collapsible-content {
    display: none;
    padding: 10px 20px;
    background-color: #2a2a2a;
    border-left: 4px solid #14FFB9;
    margin: 0 20px 20px;
    border-radius: 0 0 8px 8px;
}
.button {
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
